/* ======================= */
/* RESET E BASE            */
/* ======================= */
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
         url('fonts/Raleway/Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
         url('fonts/Raleway/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --fonte-principal: 'Raleway', sans-serif;
}

* {
    font-family: var(--fonte-principal);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-image: url('assets/background/matrix.gif');*/
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #121212;
}

/* ======================= */
/* HEADER / NAVBAR         */
/* ======================= */
header {
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 300px;
    background-color: #121212c4;
    z-index: 1000;
    border-bottom: 1px solid #444;
}

/* ---- NAVBAR SIMPLES ---- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: #121212;
    color: white;
    padding: 10px 20px;
    border-bottom: 2px solid #27BA06;
    z-index: 1000;
    display: flex;
    justify-content: flex-start; /* Alinha à esquerda */
    align-items: center;
}

/* Estilo do botão voltar */
.voltar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px 15px;
    border: 2px solid #27BA06;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.voltar a:hover {
    background-color: #27BA06;
    color: black;
}

/* ======================= */
/* Titulo                  */
/* ======================= */

.titulo-projeto {
    text-align: center;
    padding: 80px 20px 0px;
}

.titulo-projeto h1 {
    font-size: clamp(1rem, 3vw, 5rem);
    font-weight: bold;
    background-image: linear-gradient(45deg, #009400, #0D7F53, #27BA06, #4EE00C);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: gradient-text 4s linear infinite;
    
}

/* 🔥 Animação do gradiente no texto */
@keyframes gradient-text {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}

/* ======================= */
/* Responsividade Título   */
/* ======================= */


#sobre {
    padding: 40px 10%;
    background-color: #121212; 
}

.conteudo-sobre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo-sobre h3 {
    font-size: clamp(0.8rem, 2vw, 3.5rem);
    color: #4EE00C;
    
}

.linha-verde {
    width: 3px;
    background-color: #4EE00C;
    align-self: stretch;
}

.texto-com-linha {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    max-width: 100%;
}

/* Faz o <p> ter altura automática e ocupa o resto do espaço */
.texto-com-linha p {
    margin: 0;
    line-height: 1.8;
    color: #27BA06;
    font-size: clamp(0.5rem, 3vw, 1.2rem);
    max-width: 90%;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

/* ======================= */
/* Software skills         */
/* ======================= */
#softskills {
    padding: 40px 10%;
    background-color: #121212;
}

.conteudo-softskills {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.titulo-softskills h3 {
    font-size: clamp(0.8rem, 2vw, 3.5rem);
    color: #4EE00C;
    margin: 0;
    text-align: right;
}

.texto-softskills {
    max-width: 100%;
}

.texto-com-linha2 {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    justify-content: flex-end;
    max-width: 100%;
}

.texto-com-linha2 p {
    margin: 0;
    line-height: 1.8;
    color: #27BA06;
    font-size: clamp(0.5rem, 3vw, 1.2rem);
    max-width: 90%;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    overflow-wrap: break-word;
    text-align-last: right;
}

/* ======================= */
/* Hardware skills         */
/* ======================= */
#hardwareskills {
    padding: 40px 10%;
    background-color: #121212;
}

.conteudo-hardwareskills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo-hardwareskills h3 {
    font-size: clamp(0.9rem, 2vw, 3.5rem);
    color: #4EE00C;
    
}

.texto-com-linha3 {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    max-width: 100%;
}

/* Faz o <p> ter altura automática e ocupa o resto do espaço */
.texto-com-linha3 p {
    margin: 0;
    line-height: 1.8;
    color: #27BA06;
    font-size: clamp(0.5rem, 2.5vw, 1.2rem);
    max-width: 90%;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

/* Estilo para o link */
.link-github {
    font-size: clamp(0.5rem, 2.5vw, 1.2rem);
    background-image: linear-gradient(45deg, #009400, #0D7F53, #27BA06, #4EE00C);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: gradient-text 4s linear infinite;
    text-decoration: none;
    display: inline-block; 
    position: relative; 
}

.link-github::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-image: linear-gradient(45deg, #009400, #0D7F53, #27BA06, #4EE00C);
    background-size: 400% 400%;
    animation: gradient-border 4s linear infinite;
    transition: width 0.3s ease;
}

.link-github:hover {
    color: #4EE00C;
}

.link-github:hover::after {
    width: 100%;
}

/* ======================= */
/* SIDEBAR E SCROLL        */
/* ======================= */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom, #32b008, #1f9405, #0D7F53);
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background-color: #4EE00C;
    border-radius: 25px;
}

/* ======================= */
/* FOOTER                  */
/* ======================= */
footer {
    text-align: center;
    padding: 20px;
    background-color: #121212;
    color: white;
}